[package]
name = "mcc-gaql"
description = "Execute GAQL across MCC child accounts."
version = "0.10.0"
authors = ["Michael S. Huang <mhuang74@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-std = "1.11"
bincode = "1.3"
cacache = "10.0"
clap = { version = "3.1", features = ["derive", "cargo"] }
dirs = "4.0"
figment = { version = "0.10", features = ["toml", "env"] }
flexi_logger = { version = "0.22", features = ["compress"] }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
# googleads-rs = { version = "0.9.0" }
googleads-rs = { version = "0.9.1", path = "../googleads-rs" }
itertools = "0.10"
log = "0.4"
polars = { version = "0.42", features = ["lazy"] }
serde = { version = "1.0", features = ["derive"] }
thousands = "0.2"
tokio = { version = "1.0", features = [ "rt-multi-thread", "time", "fs", "macros", "net",] }
tokio-stream = { version = "0.1", features = ["net"] }
toml = "0.5"
tonic = { version = "0.8", features = ["tls", "tls-roots"] }
serde_json = "1.0"
yup-oauth2 = "6.7"
rig-core = "0.7.0"
rig-lancedb = "0.2.3"
lancedb = "0.15.0"