###
#
# GAQL Query Cookbook
#
# Michael S. Huang (mhuang74@gmail.com)
#
#
#
# Naming Convention = <grain>_with_<description>, e.g. accounts_with_traffic_last_week
#
#
##


# Account IDs Accessible and Trafficking
account_ids_with_access_and_traffic_last_week = """
	SELECT 
	  customer.id
	FROM customer 
	WHERE 
	  segments.date during LAST_7_DAYS
	  AND metrics.clicks > 1
"""

# Accounts with Traffic Last Week
accounts_with_traffic_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM customer 
	WHERE 
	  segments.date during LAST_7_DAYS
	  AND metrics.impressions > 1
"""

# Top Keywords
keywords_with_top_traffic_last_week = """
	SELECT
	  customer.id,
	  customer.descriptive_name,
	  campaign.id,
	  campaign.name,
	  campaign.advertising_channel_type,
	  ad_group.id,
	  ad_group.name,
	  ad_group.type,
	  ad_group_criterion.criterion_id,
	  ad_group_criterion.keyword.text,
	  metrics.impressions,
	  metrics.clicks,
	  metrics.cost_micros,
	  customer.currency_code 
	FROM keyword_view
	WHERE
	  segments.date DURING LAST_7_DAYS
	  and metrics.clicks > 10000
	ORDER BY
	  metrics.clicks DESC
	LIMIT 10
"""

# Accounts with Performance Max Campaigns
accounts_with_perf_max_campaigns_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM campaign 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND campaign.advertising_channel_type IN ('PERFORMANCE_MAX') 
	  AND metrics.clicks > 100
	ORDER BY 
	  metrics.clicks DESC 
	LIMIT 1
"""

# Accounts with Smart Campaigns
accounts_with_smart_campaigns_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM campaign 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND campaign.advertising_channel_type IN ('SMART') 
	  AND metrics.clicks > 100
	ORDER BY 
	  metrics.clicks DESC 
	LIMIT 1
"""

# Accounts with Local Campaigns
accounts_with_local_campaigns_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM campaign 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND campaign.advertising_channel_type IN ('LOCAL') 
	  AND metrics.clicks > 500
	ORDER BY 
	  metrics.clicks DESC 
	LIMIT 1
"""

# Accounts with Shopping Campaigns
accounts_with_shopping_campaigns_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM campaign 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND campaign.advertising_channel_type IN ('SHOPPING') 
	  AND metrics.clicks > 100
	ORDER BY 
	  metrics.clicks DESC 
	LIMIT 1
"""

# Accounts with Multi-Channel Campaigns
accounts_with_multichannel_campaigns_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM campaign 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND campaign.advertising_channel_type IN ('MULTI_CHANNEL') 
	  AND metrics.clicks > 100
	ORDER BY 
	  metrics.clicks DESC 
	LIMIT 1
"""


# Accounts with Asset-based Sitelink Ext
accounts_with_asset_sitelink_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  asset_field_type_view.field_type, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
		customer.currency_code  
	FROM asset_field_type_view 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND asset_field_type_view.field_type IN ('SITELINK') 
	  AND metrics.clicks > 20000
	ORDER BY 
	  metrics.impressions DESC 
	LIMIT 1
"""

# Accounts with Asset-based Call Ext
accounts_with_asset_call_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  asset_field_type_view.field_type, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
		customer.currency_code  
	FROM asset_field_type_view 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND asset_field_type_view.field_type IN ('CALL') 
	  AND metrics.impressions > 100
	ORDER BY 
	  metrics.impressions DESC 
	LIMIT 1
"""

# Accounts with Asset-based Callout Ext
accounts_with_asset_callout_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  asset_field_type_view.field_type, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code  
	FROM asset_field_type_view 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND asset_field_type_view.field_type IN ('CALLOUT') 
	  AND metrics.clicks > 30000
	ORDER BY 
	  metrics.impressions DESC 
	LIMIT 1
"""

# Accounts with Asset-based App Ext
accounts_with_asset_app_last_week = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  asset_field_type_view.field_type, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
		customer.currency_code  
	FROM asset_field_type_view 
	WHERE 
	  segments.date DURING LAST_7_DAYS 
	  AND asset_field_type_view.field_type IN ('MOBILE_APP') 
	  AND metrics.impressions > 1
	ORDER BY 
	  metrics.impressions DESC 
	LIMIT 1
"""

# Last 30-day Traffic from Performance Max Campaigns
perf_max_campaigns_with_traffic_last_30_days = """
	SELECT 
	  campaign.id, 
	  segments.date,
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM campaign 
	WHERE 
	  segments.date DURING LAST_30_DAYS 
	  AND campaign.advertising_channel_type IN ('PERFORMANCE_MAX')
	  AND metrics.impressions > 1 
	ORDER BY 
	  segments.date, campaign.id
"""

# YTD Traffic from asset_field_type_view resource
asset_fields_with_traffic_ytd = """
	SELECT 
	  asset_field_type_view.field_type, 
	  segments.date,
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code  
	FROM asset_field_type_view 
	WHERE 
	  segments.year IN (2022)
	  AND metrics.impressions > 1
	ORDER BY 
	  asset_field_type_view.field_type, segments.date
"""

# YTD Trafic from extension_feed_item resource
extension_feed_items_with_traffic_ytd = """
	SELECT
	  extension_feed_item.extension_type,
	  segments.date,
	  metrics.impressions,
	  metrics.clicks,
	  metrics.cost_micros,
	  customer.currency_code
	FROM extension_feed_item
	WHERE
	  segments.year IN (2022)
	  AND metrics.impressions > 1
	ORDER BY 
	  extension_feed_item.extension_type, segments.date
"""

# YTD Trafic from feed_placeholder_view resource
feed_placeholders_with_traffic_ytd = """
	SELECT
	  feed_placeholder_view.placeholder_type,
	  segments.date,
	  metrics.impressions,
	  metrics.clicks,
	  metrics.cost_micros,
	  customer.currency_code
	FROM feed_placeholder_view
	WHERE
	  segments.year IN (2022) 
	  AND metrics.impressions > 1
	ORDER BY 
	  feed_placeholder_view.placeholder_type, segments.date
"""

# Top Spending Smart Bidding Campaigns
campaigns_with_smart_bidding_by_spend = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name,
	  customer.currency_code,
	  campaign.id, 
	  campaign.name,
	  campaign.advertising_channel_type,
	  campaign.bidding_strategy_type,
	  campaign_budget.amount_micros,
	  metrics.average_cpc,
	  metrics.clicks, 
	  metrics.cost_micros,
	  metrics.conversions,
	  metrics.cost_per_conversion,
 	  metrics.conversions_value
	FROM campaign
	WHERE
	  campaign.bidding_strategy_type IN ('MAXIMIZE_CONVERSIONS', 'MAXIMIZE_CONVERSION_VALUE', 'TARGET_CPA', 'TARGET_ROAS') 
	  AND campaign.status IN ('ENABLED') 
	  AND segments.date DURING LAST_7_DAYS 
	  AND metrics.cost_micros > 1000000000
	ORDER by metrics.cost_micros DESC
	LIMIT 25
"""

# Performance of all Shopping Campaigns
campaigns_shopping_campaign_performance = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name,
	  campaign.id, 
	  campaign.name,
	  campaign.advertising_channel_type,
	  campaign.bidding_strategy_type,
	  campaign_budget.amount_micros,
	  metrics.average_cpc,
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code,
	  metrics.conversions,
	  metrics.cost_per_conversion,
 	  metrics.conversions_value
	FROM campaign
	WHERE
	  campaign.advertising_channel_type IN ('SHOPPING') 
	  AND campaign.status IN ('ENABLED') 
	  AND segments.date DURING LAST_30_DAYS 
	  AND metrics.cost_micros > 100000000
	ORDER by metrics.cost_micros DESC
"""

# Search Term Top CPA for Smart Campaigns
smart_campaign_search_terms_with_top_spend = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name, 
	  campaign.id, 
	  campaign.advertising_channel_type, 
	  campaign.name, 
	  smart_campaign_search_term_view.search_term,
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros,
	  customer.currency_code 
	FROM smart_campaign_search_term_view 
	WHERE 
	  segments.date DURING LAST_30_DAYS 
	  AND campaign.advertising_channel_type IN ('SMART') 
	  AND metrics.clicks > 0
	ORDER BY 
	  metrics.cost_micros DESC 
	LIMIT 100
"""

# Search Terms with Clicks
all_search_terms_with_clicks = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name,
	  customer.currency_code,
	  search_term_view.search_term, 
	  segments.search_term_match_type, 
	  segments.device, 
	  search_term_view.status, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros, 
	  metrics.conversions, 
	  metrics.cost_per_conversion, 
	  metrics.conversions_value, 
	  metrics.conversions_value_per_cost 
	FROM search_term_view 
	WHERE 
	  segments.date DURING LAST_30_DAYS
	  AND metrics.clicks > 0
	ORDER BY
	  metrics.cost_micros desc
"""

# Search Term Top CPA
search_terms_with_top_cpa = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name,
	  customer.currency_code,
	  search_term_view.search_term, 
	  segments.search_term_match_type, 
	  segments.device, 
	  search_term_view.status, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros, 
	  metrics.conversions, 
	  metrics.cost_per_conversion, 
	  metrics.conversions_value, 
	  metrics.conversions_value_per_cost 
	FROM search_term_view 
	WHERE 
	  segments.date DURING LAST_30_DAYS
	  AND metrics.cost_per_conversion > 200000000
	  AND metrics.cost_micros > 1000000000
	ORDER BY
	  metrics.cost_micros desc
	LIMIT 50 
"""

# Search Term Low ROAS
search_terms_with_low_roas = """
	SELECT 
	  customer.id, 
	  customer.descriptive_name,
	  customer.currency_code, 
	  search_term_view.search_term, 
	  segments.search_term_match_type, 
	  segments.device, 
	  search_term_view.status, 
	  metrics.impressions, 
	  metrics.clicks, 
	  metrics.cost_micros, 
	  metrics.conversions, 
	  metrics.cost_per_conversion, 
	  metrics.conversions_value, 
	  metrics.conversions_value_per_cost 
	FROM search_term_view 
	WHERE 
	  segments.date DURING LAST_30_DAYS
	  AND metrics.conversions_value_per_cost < 0.25
	  AND metrics.cost_micros > 1000000000
	ORDER BY
	  metrics.cost_micros desc
	LIMIT 50 
"""

# locations by
locations_with_highest_revenue_per_conversion = """
	SELECT 
		customer.id, 
		customer.descriptive_name, 
		campaign.id, 
		campaign.name, 
		campaign.advertising_channel_type, 
		campaign_criterion.criterion_id, 
		campaign_criterion.type, 
		campaign_criterion.location.geo_target_constant, 
		campaign_criterion.keyword.text, 
		metrics.impressions, 
		metrics.clicks, 
		metrics.cost_micros, 
		customer.currency_code, 
		metrics.conversions, 
		metrics.cost_per_conversion, 
		metrics.conversions_value, 
		metrics.value_per_conversion, 
		metrics.average_cpc 
	FROM location_view
	WHERE 
	  segments.date DURING LAST_7_DAYS
	  and metrics.conversions > 10
	ORDER BY
	  metrics.value_per_conversion desc, metrics.conversions desc
	LIMIT 1000
"""

# Asset performance of Responsive Search Ads
asset_performance_rsa = """
SELECT 
  customer.id, 
  customer.descriptive_name, 
  campaign.id, 
  campaign.name, 
  campaign.advertising_channel_type, 
  ad_group.id, 
  ad_group.name, 
  ad_group.type,
  ad_group_ad.ad.id,
  ad_group_ad.ad.responsive_search_ad.headlines, 
  ad_group_ad.ad.responsive_search_ad.descriptions, 
  ad_group_ad.ad.responsive_search_ad.path1, 
  ad_group_ad.ad.responsive_search_ad.path2, 
  metrics.impressions, 
  metrics.clicks, 
  metrics.ctr, 
  metrics.cost_micros, 
  metrics.average_cpc 
FROM ad_group_ad 
WHERE 
  ad_group_ad.ad.type IN ('RESPONSIVE_SEARCH_AD') 
  AND segments.date DURING LAST_30_DAYS 
ORDER BY 
  campaign.name, 
  ad_group.name, 
  metrics.ctr DESC 
LIMIT 1000 
"""

# investigate RSA and drill down on single adgroup for Nordstrom account
asset_performance_rsa_nordstrom_drilldown = """
SELECT 
  customer.id, 
  customer.descriptive_name, 
  campaign.id, 
  campaign.name, 
  campaign.advertising_channel_type, 
  ad_group.id, 
  ad_group.name, 
  ad_group.type, 
  ad_group_ad.ad.id,
  ad_group_ad.ad.responsive_search_ad.headlines, 
  ad_group_ad.ad.responsive_search_ad.descriptions, 
  ad_group_ad.ad.responsive_search_ad.path1, 
  ad_group_ad.ad.responsive_search_ad.path2, 
  metrics.impressions, 
  metrics.clicks, 
  metrics.ctr, 
  metrics.cost_micros, 
  metrics.average_cpc 
FROM ad_group_ad 
WHERE 
  ad_group_ad.ad.type IN ('RESPONSIVE_SEARCH_AD') 
  AND segments.date DURING LAST_30_DAYS 
  AND ad_group.id IN (98163443460)
  AND campaign.id IN (9533454454)
ORDER BY 
  campaign.name, 
  ad_group.name, 
  metrics.ctr DESC 
LIMIT 1000 
"""


# investigate RSA assets and drill down on single adgroup for Nordstrom account
asset_performance_rsa_assets_nordstrom_drilldown = """
SELECT 
  customer.id, 
  campaign.id, 
  ad_group.id, 
  ad_group_ad.ad.id, 
  ad_group_ad_asset_view.asset, 
  ad_group_ad_asset_view.performance_label,
  ad_group_ad_asset_view.field_type, 
  ad_group_ad_asset_view.pinned_field, 
  metrics.impressions,
  metrics.clicks, 
  metrics.ctr,
  metrics.cost_micros
FROM ad_group_ad_asset_view 
WHERE 
  ad_group_ad.ad.type IN ('RESPONSIVE_SEARCH_AD') 
  AND segments.date DURING LAST_30_DAYS 
  AND ad_group.id IN (98163443460)
  AND campaign.id IN (9533454454)
ORDER BY 
  campaign.name, 
  ad_group.name,
  ad_group_ad.ad.id, 
  metrics.impressions DESC
LIMIT 1000 
"""